<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.show.dao.StaffMapper">
    <resultMap id="staffMap" type="staff">
        <id property="id" column="S_ID"/>
        <result property="name" column="S_NAME"/>
        <result property="pass" column="S_PASS"/>
        <result property="state" column="S_STATE"/>
        <result property="date" column="S_DATE"/>
        <result property="sName" column="S_SNAME"/>
        <result property="sex" column="S_SEX"/>
        <result property="idCard" column="S_IDCARD"/>
        <result property="birth" column="S_BIRTH"/>
        <result property="graduation" column="S_GRADUATION"/>
        <result property="education" column="S_EDUCATION"/>
        <result property="certificate" column="S_CERTIFICATE"/>
        <result property="remark" column="S_REMARK"/>
        <association property="position" javaType="position">
            <id property="id" column="P_ID"/>
            <result property="name" column="P_NAME"/>
            <result property="salary" column="P_SALARY"/>
            <association property="department" javaType="department">
                <id property="id" column="D_ID"/>
                <result property="name" column="D_NAME"/>
                <result property="date" column="D_TIME"/>
            </association>
        </association>
    </resultMap>
    <insert id="addStaff">
        INSERT INTO T_STAFF(S_ID, S_NAME, S_PASS, S_PID, S_STATE, S_DATE, S_SNAME, S_SEX, S_IDCARD, S_BIRTH,
        S_GRADUATION, S_EDUCATION, S_CERTIFICATE)
        VALUES (SEQ_T_STAFF.nextval,#{name},#{pass},#{position.id},#{state},#{date},#{sName},#{sex},#{idCard},#{birth},
        #{graduation},#{education},#{certificate})
    </insert>
    <update id="updateStaff">
        UPDATE T_STAFF SET S_SNAME=#{sName},S_SEX=#{sex},S_IDCARD=#{idCard},S_BIRTH=#{birth},
        S_GRADUATION=#{graduation},S_EDUCATION=#{education},S_CERTIFICATE=#{certificate}
        WHERE S_ID=#{id}
    </update>
    <update id="toLeave">
        UPDATE T_STAFF SET S_STATE=#{state},S_EXPLAIN=#{explain}
        WHERE S_ID=#{id}
    </update>
    <update id="changeState">
        UPDATE T_STAFF SET S_STATE=#{state} WHERE S_ID=#{id}
    </update>
    <update id="changeP">
        UPDATE T_STAFF SET T_STAFF.S_PID=#{0} WHERE S_ID=#{1}
    </update>
    <select id="getStaffD" resultMap="staffMap">
        SELECT * FROM T_STAFF s,T_POSITION p,T_DEPARTMENT d WHERE s.S_PID=p.P_ID AND p.P_DID=d.D_ID
    </select>
    <select id="getStaffByNamePass" resultMap="staffMap">
        SELECT * FROM T_STAFF s,T_POSITION p,T_DEPARTMENT d
        WHERE s.S_PID=p.P_ID AND p.P_DID=d.D_ID AND s.S_NAME=#{name} AND s.S_PASS=#{pass}
    </select>
    <select id="getStaffById" resultMap="staffMap">
        SELECT * FROM T_STAFF WHERE T_STAFF.S_ID=#{id}
    </select>
</mapper>